<h1>DATOS</h1>

<div class="container">
  <div class="row">

    <div class="card mt">
      <div class="card-body">
        <div class="card-title">
          <h2>Nuevo registro</h2>
        </div>

        <div class="form-group mb-2">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]="persona.nombre" placeholder="Nombre" class="form-control" required>
        </div>
        <div class="form-group mb-2">
          <label>Fecha:</label><br>
          <input matInput [matDatepicker]="selectorFecha" autocomplete="off" [(ngModel)]="persona.fecha" placeholder="Fecha" class="form-control" style="display:inline; width:300px" required>
          <mat-datepicker-toggle matSuffix [for]="selectorFecha"></mat-datepicker-toggle>
          <mat-datepicker #selectorFecha></mat-datepicker>
        </div>
        <div class="form-group mb-2">
          <label>DNI:</label><br>
          <input type="text" [(ngModel)]="persona.dni" placeholder="DNI" class="form-control dni" required>
          <select class="form-select ms-1" [(ngModel)]="persona.tipodoc" required>
            <option value="DNI">DNI</option>
            <option value="CE">CE</option>
            <option value="PASS">PASS</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label>Motivo:</label>
          <textarea matInput #mensaje maxlength="300" [(ngModel)]="persona.motivo" placeholder="Motivo" class="form-control" required></textarea>
          <mat-hint>{{ mensaje.value.length }} / 300</mat-hint>
        </div>
        <button (click)="guardar()" class="btn btn-primary" [disabled]="persona.tipodoc==''">
          Guardar
        </button>        
      </div>
    </div>

    <div *ngFor="let persona of personaArr">
      <h2>Persona {{ persona.id }}</h2>
      <div fxLayout="row wrap" class="fl">
        <div fxFlex="160px">
          <mat-card class="mat-elevation-z4 mc1">
            <mat-card-content>
              <p>
                <strong>Nombre:</strong> {{ persona.nombre }}
              </p>
              <p>
                <strong>Fecha:</strong> {{ persona.fecha | date: 'dd/MM/yyyy' }}
              </p>
              <p>
                <strong>{{ persona.tipodoc }}:</strong> {{ persona.dni }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
  
        <div fxFlex="240px">
          <mat-card class="mat-elevation-z4 mc2">
            <mat-card-content>
              <p>
                <strong>Motivo:</strong> {{ persona.motivo }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    



























    <!-- <table class="table table-light table-hover table-bordered mt-5 table caption-top">
      <caption class="text-white">Lista de personas</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha</th>
          <th scope="col">DNI</th>
          <th scope="col">Motivo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personaArr">
          <th scope="row">{{ persona.id }}</th>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.fecha | date: 'dd/MM/yyyy' }}</td>
          <td>{{ persona.dni }}</td>
          <td>{{ persona.motivo }}</td>
          <td><button class="btn btn-success" (click)="editar(persona)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table> -->

  </div>
</div>

<!-- <div>
  <mat-card *ngFor="let persona of personaArr">
    <mat-card-title>Persona Nº {{ persona.id }}</mat-card-title>    
    <mat-card-subtitle>Datos registrados</mat-card-subtitle>
  
    <mat-card-content class="mcard">
  
      <mat-grid-list cols="2">
        <mat-grid-tile class="mgt1">
          <strong>Nombre:</strong> <label class="ms-1"> {{ persona.nombre }}</label>
          <strong>Fecha: </strong> <label class="ms-1"> {{ persona.fecha | date: 'dd/MM/yyyy'}}</label>
          <strong>{{ persona.tipodoc }}:</strong> <label class="ms-1"> {{ persona.dni }}</label>
        </mat-grid-tile>
        <mat-grid-tile class="mgt2">
          <strong>Motivo:</strong> <label>{{ persona.motivo }}</label>
        </mat-grid-tile>
      </mat-grid-list>
  
    </mat-card-content>
  </mat-card>
</div> -->

<!-- <mat-hint align="start"><strong>Indíquenos el motivo de su consulta</strong> </mat-hint> -->